@using Microsoft.AspNetCore.Identity
@using Courswork.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<style>
    .inline123{
        display: inline-flex;
        list-style-type:none;
        margin:0;
        padding:0;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <ul>
        <li>
            <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">Logout</button>
            </form>
        </li>
    </ul>
     
}
else
{
    <ul class="inline123">
        <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
        <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
    </ul>
}

