<!DOCTYPE HTML>

<html>
<head>
	<title>Информация</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
	
	<!-- Header -->
	<header id="header">
		<a asp-action="Index.html" class="title">АГРО-М</a>
		<nav>
			<ul>
				<li><a asp-action="Index">Главная</a></li>
				<li><a asp-action="Sell" class="active">Продажа</a></li>
			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h1 class="major">Покупка</h1>

				<div class="features2">
					<section>
						<div class="inline-flex">


							<div>
								<span class="icon solid major fa-ruble-sign"></span>
								<h3>
									Пшеница
								</h3>
							</div>

							<div class="desc">
								Характеристики
								<ul>
									<li>Сорт: Первый</li>
									<li>Регион: Центральный</li>
									<li>Количество(т.): 10000</li>
									<li>Цена(р/т.): 1000</li>

								</ul>
							</div>


						</div>

						<div class="btn">
							<a class="button" href="/BuyPages/wheatBuy.html" name="wheatConfirm">
								Продолжить
							</a>
						</div>

					</section>
					<hr>
				</div>



				<div class="features2">
					<section>
						<div class="inline-flex">


							<div>
								<span class="icon solid major fa-ruble-sign"></span>
								<h3>
									Пшеница
								</h3>
							</div>

							<div class="desc">
								Характеристики
								<ul>
									<li>Сорт: Первый</li>
									<li>Регион: Центральный</li>
									<li>Количество(т.): 10000</li>
									<li>Цена(р/т.): 1000</li>

								</ul>
							</div>


						</div>

						<div class="btn">
							<a class="button" href="/BuyPages/wheatBuy.html" name="wheatConfirm">
								Продолжить
							</a>
						</div>

					</section>
					<hr>
				</div>



				<div class="features2">
					<section>
						<div class="inline-flex">


							<div>
								<span class="icon solid major fa-ruble-sign"></span>
								<h3>
									Пшеница
								</h3>
							</div>

							<div class="desc">
								Характеристики
								<ul>
									<li>Сорт: Первый</li>
									<li>Регион: Центральный</li>
									<li>Количество(т.): 10000</li>
									<li>Цена(р/т.): 1000</li>

								</ul>
							</div>


						</div>

						<div class="btn">
							<a class="button" href="/BuyPages/wheatBuy.html" name="wheatConfirm">
								Продолжить
							</a>
						</div>

					</section>
					<hr>
				</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/funcs.js"></script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>