<!DOCTYPE HTML>

<html>
<head>
	<title>АГРО-М</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload">



	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Welcome</a></li>
					<li><a href="#one">О нас.</a></li>
					<li><a href="#two">Чем мы занимаемся</a></li>
					<li><a href="#three">Связаться с нами</a></li>
					<li><partial name="_LoginPartial" /></li>
				</ul>
				

			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<ul class="actions">
					<li><a asp-action="Sell" class="button scrolly">Продать</a></li>
					<li><a asp-action="Buy" class="button scrolly">Купить</a></li>
				</ul>
				<h1>АГРО-М</h1>
				<p>Немного информации о нас</a>.</p>
				<ul class="actions">
					<li><a href="#one" class="button scrolly">Подробнее</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style2 spotlights">
			<section>
				<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Что-то кратко о достижениях</h2>
						<p>Краткая информация.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Подробнее</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
				<div class="content">
					<div class="inner">
						<h2>Что-то кратко о достижениях</h2>
						<p>Краткая информация.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Подробнее</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
				<div class="content">
					<div class="inner">
						<h2>Что-то кратко о достижениях</h2>
						<p>Краткая информация.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button">Подробнее</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style3 fade-up">
			<div class="inner">
				<h2>Мы занимаемся:</h2>
				<p>Какое-то краткое описание</p>
				<div class="features">
					<section>
						<span class="icon solid major fa-code"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
					<section>
						<span class="icon solid major fa-lock"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
					<section>
						<span class="icon solid major fa-cog"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
					<section>
						<span class="icon solid major fa-desktop"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
					<section>
						<span class="icon solid major fa-link"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
					<section>
						<span class="icon major fa-gem"></span>
						<h3>Заголовок</h3>
						<p>Описание</p>
					</section>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Связаться:</h2>
				<p>Если у вас есть какие-то вопросы, вы можете задать нам их ниже: </p>
				<div class="split style1">
					<section>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<label for="name">Имя</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Комментарий</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><a href="/" class="button submit">Отправить</a></li>
							</ul>
						</form>
					</section>
					<section>
						<ul class="contact">
							<li>
								<h3>Адрес</h3>
								<span>
									Какой-то город, какая-то улица<br />
									Энгельс, Индекс?<br />
									Россия
								</span>
							</li>
							<li>
								<h3>Email</h3>
								<a href="#">anyEmail@mail.ru</a>
							</li>
							<li>
								<h3>Телефон</h3>
								<span>(000) 000-0000</span>
							</li>
							<li>
								<h3>Наши соцсети</h3>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-vk"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands fa-odnoklassniki"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-youtube"><span class="label">LinkedIn</span></a></li>
								</ul>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>
</html>